<h1>FollowApp</h1>

<%= link_to "こんにちは、#{current_user.nickname}さん" ,"#" %><br>
<%#= link_to "こんにちは、#{current_user.nickname}さん" ,user_path(current_user.id)%><br>
<%= link_to "ログアウト",destroy_user_session_path,method: :delete, class: :nav__logout %> 


<%= form_with model:@post, id:"form" ,local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <%= f.text_field :content ,id:"content" %>
  <%= f.submit '投稿する',id: "submit" %>
<% end %>